.demo01 {
    transform: translateX(500px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
}

.demo01:nth-child(1) {
    transform: translateX(50px);
}

.demo02 {
    transition: 2s;
    transform: translateX(200px) translateX(50px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
    transition: 2s;
}

.demo02:hover {
    transform: translateX(100px);
}

.demo03 {
    display: inline-block; /* 去掉这行就失效了 */
    transition: 2s;
    transform: translateX(100px) translateX(50px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
    transition: 2s;
}

.demo03:hover {
    transform: translateX(100px);
}