.demo01 {
    transform: translateX(500px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
}

.demo01:nth-child(1) {
    transform: translateX(50px);
}

.demo02 {
    transition: 2s;
    transform: translateX(200px) translateX(50px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
    transition: 2s;
}

.demo02:hover {
    transform: translateX(100px);
}

.demo03 {
    display: inline-block; /* 去掉这行就失效了 */
    transition: 2s;
    transform: translateX(100px) translateX(50px);
    width: 100px;
    height: 100px;
    background: #9b59b6;
    transition: 2s;
}

.demo03:hover {
    transform: translateX(100px);
}

.demo04 {
    width: 300px;
    height: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    border: solid 5px silver;
    color: white;
}

.demo04 div a {
    color: white;
    text-decoration: none;
}

.demo04 div,
.demo04 div aside {
    background: blueviolet;
    background-clip: content-box;
    padding: 5px;
    border: solid 2px blueviolet;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.demo04 div aside {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
}

.demo04 aside:target {
    display: block;
    transform: translateY(150px);
    box-shadow: 0 0 10px #ddd;
}